%backup%~
.mc-lists.el
auto-save-list/
backups/
bookmarks
eln-cache/
elpa/
history
recentf
server/
transient/
tree-sitter/
url/
.cache/
.lsp-session-v1
eclipse.jdt.ls/
network-security.data
projectile-bookmarks.eld
projects
tramp
workspace/
start.log
.dap-breakpoints
dap-ui-repl-go-history